/**
* @name Theme Fix Font VN
* @version 1.0.1
* @description Fix The Font VN - Made By QuanGM#2305
* @author QuanGM#2305
* @invite TeRQEPb
* @Source https://github.com/QuanGMVN/Fix-Font-VN-Styles
* @website https://betterdiscord.app/theme/MinimalCord
*/
@import url("https://github.com/QuanGMVN/Fix-Font-VN-Styles");
@import url('https://fonts.googleapis.com/css2?family=Nunito');
:root {
--message-padding: 10px;
--message-spacing: 10px;
--font: 'Nunito';
  
}
