/**
* @name Theme Fix Font VN
* @version 1.0.1
* @description Fix The Font VN - Made By QuanGM#2305
* @author QuanGM#2305
* @invite TeRQEPb
* @Source https://github.com/DiscordStyles/MinimalCord
* @website https://betterdiscord.app/theme/MinimalCord
*/
@import url("https://discordstyles.github.io/MinimalCord/dist/MinimalCord.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito');
:root {
--message-padding: 10px;
--message-spacing: 10px;
--home-icon-image: url('https://i.imgur.com/4wbJHcQ.png');
--home-icon-image-zoom: 100%;
--home-icon-image-position: center;
--font: 'Nunito';
}